{% extends 'base.html' %}

{% block title %}Available Cars{% endblock %}

{% block content %}
<div class="cars-container">
    <h1>All Cars</h1>
    <table class="cars-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Mark</th>
                <th>Model</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ car.mark }}</td>
                <td>{{ car.model }}</td>
                <td class="status {{ car.status | lower }}">{{ car.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
